# Supabase Cloud Project Configuration
SUPABASE_URL=https://riehesxahscrbcdxmhlr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpZWhlc3hhaHNjcmJjZHhtaGxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMTgwMTcsImV4cCI6MjEwNjU5NDAxN30.UuHjaZ3HNxLES7bjIuQkwVoiXkHCIiN958xuWbJOois
